<html>
<head>
    <title>Seminario 3 - Sistemas Distribuidos</title>
</head>
<body>
  <div>
    <div class="header-title">      <span class="section-title">Seminario 3 - Sistemas Distribuidos</span>
      <span class="chapter-title">Búsqueda</span>
    </div>
  </div>
</header>
  	<div class="search">
    	<div class="group"> 
			<form action="/buscar" method="POST">
		   		<input type="text" name="text">
		        <input type="submit" name="my-form" class="button buttonBlue" value="Buscar">
		    </form>
		</div>
	</div>
</body>
</html>
